.btn-warning {
  background-color: #FBBC42;
}

.btn-warning:hover {
  background-color: #e2a62e;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../images/UI/abstraction1.png"), -webkit-gradient(linear, left top, right bottom, color-stop(50%, #56CCF2), to(#198dcf));
  background-image: url("../images/UI/abstraction1.png"), linear-gradient(to bottom right, #56CCF2 50%, #198dcf);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.hero__attraction {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__attraction img {
  height: 49rem;
}

.hero__heading {
  padding: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.hero__logo img {
  height: 2.6rem;
}

.hero__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-bottom: 0;
  font-weight: 400;
}

.hero__menu li {
  list-style: none;
  position: relative;
}

.hero__menu li a:link, .hero__menu li a:visited {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.hero__menu li:not(:last-child) {
  margin-right: 3rem;
}

.hero__menu li::after {
  content: "";
  height: .5rem;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2.35rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero__menu li:hover::after {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.hero__menu li.active::after {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.hero__auth-login {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
  outline: none;
}

.hero__sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.4rem;
}

.hero__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__search button {
  background-color: rgba(255, 255, 255, 0.78);
  border: 1px white solid;
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  margin-right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  cursor: pointer;
}

.hero__search button:hover {
  background-color: #00B2FF;
}

.hero__search button img {
  height: 1.3rem;
}

.hero__search input {
  padding-left: 1.5rem;
  border: 1px solid white;
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  width: 24rem;
  outline: none;
}

.hero__search input::-webkit-input-placeholder {
  color: white;
}

.hero__search input:-ms-input-placeholder {
  color: white;
}

.hero__search input::-ms-input-placeholder {
  color: white;
}

.hero__search input::placeholder {
  color: white;
}

.hero__language {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__language h6 {
  color: white;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid white;
  margin-right: .7rem;
  margin-bottom: 0;
}

.hero__language img {
  height: .7rem;
}

.hero__language-tip {
  position: absolute;
  bottom: -7rem;
  right: 0;
  background-color: #fff;
  border-radius: .3rem;
  padding: .3rem 1.2rem;
  -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.hero__language-tip img {
  margin-right: .25rem;
}

.hero__language-tip span {
  margin-left: .25rem;
}

.hero__language-tip span:hover {
  border-bottom: 1px solid #333;
}

.hero__content {
  color: white;
  text-align: center;
  margin-top: 12%;
}

.hero__title {
  margin-bottom: 1.9rem;
}

.hero__CTA {
  font-family: "Roboto", sans-serif;
  padding: .8rem 2rem;
  border: none;
  border-radius: 200rem;
  text-transform: uppercase;
  color: #00B2FF;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero__CTA:hover {
  -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.28);
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}

.hero__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.1rem;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero__steps .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.hero__step-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1.1rem;
}

.hero__step-desc {
  margin-bottom: 0;
}

body {
  color: #333;
}
/*# sourceMappingURL=main.css.map */