
@import './variables/color';
@import './variables/font';
@import './mixins/responsive'; 
@import './helpers';
@import './mixins/boxShadow';

@import './animations/slide';
@import './animations/popin';

@import './components/form';
@import './components/heading';
@import './components/button';
@import './components/popup';
@import './components/navbar';

@import './pages/home';
@import './pages/about';
@import './pages/voting';
@import './pages/manage';

body {
  color: #333;
  font-family: $font-primary;

  
  @include responsive(1120px) {
    font-size: 90%;
  }
}