<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./sass/main.css">

  <title>Home page</title>
</head>
<body>
  <div id="home">
    <!-- HERO AREA START -->
    <div class="hero" id="hero">
      <div class="hero__heading container">
        <div class="hero__logo">
          <img src="./images/UI/logo/logo-white.png" alt="logo-white">
        </div>
        <ul class="hero__menu">
          <li class="active">
            <a href="#">features</a>
          </li>
          <li>
            <a href="#">about</a>
          </li>
          <li>
            <a href="#">tutorial</a>
          </li>
        </ul>
        <div class="hero__auth">
          <button class="hero__auth-login">Login</button>
          <button href="#" class="btn btn-warning">
            Sign up
          </button>
        </div>
      </div>
      <div class="hero__sub-heading container">
        <div style="width: 7rem;">
          <!-- Place holder element -->
        </div>
        <form action="#" class="hero__search">
          <button>
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-search"></use>
            </svg>
          </button>
          <input type="text" placeholder="Search the poll...">
        </form>
        <div class="hero__language">
          <div class="d-flex align-items-center" 
              @click="showLangs = !showLangs">
            <h6>Languages</h6>
            <img src="./images/Icons/down-arrow.png" alt="arrow down">
          </div>
          <div class="hero__language-tip" v-if="showLangs">
            <div class="d-flex align-items-center mb-2"
                v-for="lang in listOfLanguages">
              <img :src="lang.img" alt="img"> |
              <span>{{ lang.desc }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__content container">
        <h2 class="hero__title">
          Want to create a poll as fast as possible ??
        </h2>
        <a href="#crePoll" class="hero__CTA">
          create poll
        </a>
      </div>
  
      <div class="hero__steps">
        <div class="container">
          <div 
            v-for="(step, index) in listOfStep" 
            class="hero__step">
            <div class="hero__step-number"
                :style="{border: '4.7px solid ' + step.color}">
              <span>STEP</span>
              <span>{{ index }}</span>
            </div>
            <div class="hero__step-desc">
              <h6> {{ step.content }} </h6>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- HERO AREA END HERE -->

    <!-- FORM START HERE -->
    <div class="crePoll container" id="crePoll">
      <div class="heading-1">
        <h3>Create poll</h3>
        <p>Follow these steps and create your own poll</p>
      </div>
      <form action="#" class="crePoll__form">
        <div class="form-group">
          <input 
            type="text" 
            class="form-style" 
            name="question"
            placeholder="Enter your question">
        </div>
        <div class="form-group">
          <div class="crePoll__switch" @click="switchKey()">
            <div :class="{switched: questionType === 'Multiple'}">
              {{ questionType }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-1"
              placeholder="Enter option 1...">
          <div class="crePoll__control">
            <svg class="crePoll__control--picture">
              <use xlink:href="./images/Icons/iconsList.svg#icon-picture"></use>
            </svg>
            <svg class="crePoll__control--trash">
              <use xlink:href="./images/Icons/iconsList.svg#icon-bin"></use>
            </svg>
          </div>
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-2"
              placeholder="Enter option 2...">
          <div class="crePoll__control">
            <svg class="crePoll__control--picture">
              <use xlink:href="./images/Icons/iconsList.svg#icon-picture"></use>
            </svg>
            <svg class="crePoll__control--trash">
              <use xlink:href="./images/Icons/iconsList.svg#icon-bin"></use>
            </svg>
          </div>
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-2"
              placeholder="More options...">
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-2"
              placeholder="Please enter your email (or login)...">
        </div>
        <div class="crePoll__setup">
          <div class="crePoll__config">
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-cog" />
            </svg>
            <p>Configure Poll</p>
          </div>
          <div class="crePoll__button-group">
            <button class="btn-style btn-style--mediumGray">Reset</button>
            <button class="btn-style btn-style--lightGray">
              <svg>
                <use xlink:href="./images/Icons/iconsList.svg#icon-eye" />
              </svg>
              <span> Preview </span>
            </button>
            <button class="btn-style btn-style--standard">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- FORM END HERE -->
  </div>
  <script src="./js/home.js"></script>
</body>
</html>