<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./sass/main.css">

  <title>Home page</title>
</head>
<body>
  <div id="home">
    <!-- HERO AREA START -->
    <div class="hero" id="hero">
      <div class="hero__heading container">
        <div class="hero__logo">
          <img src="./images/UI/logo/logo-white.png" alt="logo-white">
        </div>
        <ul class="hero__menu">
          <li class="active">
            <a href="#">features</a>
          </li>
          <li>
            <a href="#">about</a>
          </li>
          <li>
            <a href="#">tutorial</a>
          </li>
        </ul>
        <div class="hero__auth">
          <button 
            @click="signinPopup = true"
            class="hero__auth-signin">Sign in </button>
          <button href="#" class="btn btn-warning" @click="signupPopup = true">
            Sign up
          </button>
        </div>
      </div>
      <div class="hero__sub-heading container">
        <div style="width: 7rem;">
          <!-- Place holder element -->
        </div>
        <form action="#" class="hero__search">
          <button>
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-search"></use>
            </svg>
          </button>
          <input type="text" placeholder="Search the poll...">
        </form>
        <div class="hero__language">
          <div class="d-flex align-items-center" 
              @click="showLangs = !showLangs">
            <h6>Languages</h6>
            <img src="./images/Icons/down-arrow.png" alt="arrow down">
          </div>
          <div class="hero__language-tip" v-if="showLangs">
            <div class="d-flex align-items-center mb-2"
                v-for="lang in listOfLanguages">
              <img :src="lang.img" alt="img"> |
              <span>{{ lang.desc }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__content container">
        <h2 class="hero__title">
          Want to create a poll as fast as possible ??
        </h2>
        <a href="#crePoll" class="hero__CTA">
          create poll
        </a>
      </div>
  
      <div class="hero__steps">
        <div class="container">
          <div 
            v-for="(step, index) in listOfStep" 
            class="hero__step">
            <div class="hero__step-number"
                :style="{border: '4.7px solid ' + step.color}">
              <span>STEP</span>
              <span>{{ index }}</span>
            </div>
            <div class="hero__step-desc">
              <h6> {{ step.content }} </h6>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- FORM START HERE -->
    <div class="crePoll container" id="crePoll">
      <div class="heading-1">
        <h3>Create poll</h3>
        <p>Follow these steps and create your own poll</p>
      </div>
      <form action="#" class="crePoll__form">
        <div class="form-group">
          <input 
            type="text" 
            class="form-style" 
            name="question"
            placeholder="Enter your question">
        </div>
        <div class="form-group">
          <div class="crePoll__switch" @click="switchKey()">
            <div :class="{switched: questionType === 'Multiple'}">
              {{ questionType }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-1"
              placeholder="Enter option 1...">
          <div class="crePoll__control">
            <svg class="crePoll__control--picture">
              <use xlink:href="./images/Icons/iconsList.svg#icon-picture"></use>
            </svg>
            <svg class="crePoll__control--trash">
              <use xlink:href="./images/Icons/iconsList.svg#icon-bin"></use>
            </svg>
          </div>
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-2"
              placeholder="Enter option 2...">
          <div class="crePoll__control">
            <svg class="crePoll__control--picture">
              <use xlink:href="./images/Icons/iconsList.svg#icon-picture"></use>
            </svg>
            <svg class="crePoll__control--trash">
              <use xlink:href="./images/Icons/iconsList.svg#icon-bin"></use>
            </svg>
          </div>
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-2"
              placeholder="More options...">
        </div>
        <div class="form-group">
          <input 
              type="text" 
              class="form-style" 
              name="answer-2"
              placeholder="Please enter your email (or login)...">
        </div>
        <div class="crePoll__setup">
          <div class="crePoll__config" @click="formSetting.isShow = true">
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-cog" />
            </svg>
            <p>Configure Poll</p>
          </div>
          <div class="crePoll__button-group">
            <button class="btn-style btn-style--mediumGray">Reset</button>
            <button class="btn-style btn-style--lightGray">
              <svg>
                <use xlink:href="./images/Icons/iconsList.svg#icon-eye" />
              </svg>
              <span> Preview </span>
            </button>
            <button class="btn-style btn-style--standard">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <!-- FEATURES START HERE -->
    <div class="features">
      <div class="container">
        <div class="heading-1--white">
          <h3>Features</h3>
          <p>The reason you should choose us for your business</p>
        </div>
        <div class="features__group">
          <figure class="features__each" v-for="feature in listOfFeatures">
            <img :src="feature.img" alt="feature">
            <h5> {{ feature.title }} </h5>
            <p> {{ feature.desc }} </p>
          </figure>
        </div>
      </div>
    </div>

    <!-- TUTORIAL START HERE -->
    <div class="tutorial">
      <div class="heading-1 mb-4">
        <h3>Tutorial</h3>
        <p>Watch our tutorial video to understand the create poll flow</p>
      </div>
      <div class="tutorial__video container">
        <iframe id="ytplayer" type="text/html" width="840" height="460"
        src="https://www.youtube.com/embed/Er9wTGSeDyc?rel=0&vq=hd1080"
        frameborder="0"></iframe>
      </div>
    </div>
    <!-- TUTORIAL END HERE -->
    
    <footer class="footer">
      <div class="container footer__top">
        <a 
          href="https://axonactive.com"
          target="blank"
            class="footer__logo">
          <img src="./images/UI/logo/axon-logo.png" alt="Logo">
        </a>
        <div class="footer__infos">
          <div class="footer__info">
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-location" />
            </svg>
            <p>HO CHI MINH CITY, VIETNAM
              39B Truong Son Street,
              Ward 4, Tan Binh District,
              Ho Chi Minh City, Vietnam</p>          
          </div>
        </div>
        <div class="footer__infos">
          <div class="footer__info">
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-location" />
            </svg>
            <p>DA NANG, VIET NAM</p>          
          </div>
          <div class="footer__info">
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-location" />
            </svg>
            <p>SAN FRANCISCO, USA</p>          
          </div>
          <div class="footer__info">
            <svg>
              <use xlink:href="./images/Icons/iconsList.svg#icon-location" />
            </svg>
            <p>LUZERN, SWITZERLAND</p>          
          </div>
        </div>
        <hr>
      </div>
      <div class="container footer__bottom">
        <p>A product of AXON ACTIVE VIETNAM © 2020 | All rights reserved.</p>
        <p>Terms of Service | Privacy Statement</p>
      </div>
    </footer>

    <!-- SIGN IN POPUP HERE -->
    <div class="auth" v-if="signinPopup">
      <div class="backdrop" @click="signinPopup = false"></div>
      <div class="auth__popup">
        <div class="auth__left heading-1 mb-4">
          <h3>Sign in</h3>
          <p>If you are a new user please click 
            <a href="#" @click="switchAuth()">here to signup</a> 
          </p>
          <form action="#">
            <div class="form-group">
              <label for="email">Email: </label>
              <input type="text" class="form-style" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="email">Password: </label>
              <input type="password" class="form-style" name="password" placeholder="Enter your password">
            </div>
            <div class="auth__btns">
              <a href="#">Forgot your password?</a>
              <button class="btn-style btn-style--standard">
                Sign in
              </button>
            </div>
          </form>
        </div>
        <div class="auth__social">
          <button class="btn-google mb-2">Sign in by google</button>
          <button class="btn-fb">Sign in by facebook</button>
        </div>
      </div>
    </div>

    <!-- SIGN UP POPUP HERE -->
    <div class="auth" v-if="signupPopup">
      <div class="backdrop" @click="signupPopup = false"></div>
      <div class="auth__popup">
        <div class="auth__left heading-1 mb-4">
          <h3>Sign up</h3>
          <p>If you have registered please click
            <a href="#" @click="switchAuth()">here to signin</a> 
          </p>
          <form action="#">
            <div class="form-group">
              <label for="email">Name: </label>
              <input type="text" class="form-style" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="email">Email: </label>
              <input type="text" class="form-style" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="email">Password: </label>
              <input type="password" class="form-style" name="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
              <label for="email">Confirm password: </label>
              <input type="password" class="form-style" name="password" placeholder="Enter your password">
            </div>
            <div class="auth__btns">
              <a href="#">Forgot your password?</a>
              <button class="btn-style btn-style--standard">
                Sign up
              </button>
            </div>
          </form>
        </div>
        <div class="auth__social">
          <button class="btn-google mb-2">Sign in by google</button>
          <button class="btn-fb">Sign in by facebook</button>
        </div>
      </div>
    </div>

    <!-- SETTING POPUP HERE -->
    <div class="setting" v-if="formSetting.isShow">
      <div class="backdrop" @click="formSetting.isShow = false"></div>
      <div class="setting__popup">
        <div class="heading-1">
          <h3>Setting</h3>
          <p>Customize your poll here</p>
        </div>
        <form action="#" class="setting__form mt-4">
          <div class="d-flex">
            <div class="setting__form-left">
              <div class="form-group checkbox-style">
                <input type="checkbox" id="optimize" name="optimize" checked disabled>
                <label for="optimize">
                  <span class="checkbox-style__fake"></span>
                  <span>Optimize poll link</span>
                </label>
                <div class="setting__optimize">
                  <p>https://test.zingpoll.com/ </p>
                  <input type="text" value="abcxaish"> 
                </div>
              </div>
              <div class="form-group checkbox-style">
                <input type="checkbox" id="requireEmail" name="requireEmail">
                <label for="requireEmail">
                  <span class="checkbox-style__fake"></span>
                  <span>Require email to voting</span>
                </label>
              </div>
              <div class="form-group checkbox-style">
                <input type="checkbox" id="requireName" name="requireName">
                <label for="requireName">
                  <span class="checkbox-style__fake"></span>
                  <span>Require name to voting</span>
                </label>
              </div>
              <div class="form-group checkbox-style">
                <input type="checkbox" id="hideResult" name="hideResult">
                <label for="hideResult">
                  <span class="checkbox-style__fake"></span>
                  <span>Hide voting result</span>
                </label>
              </div>
              <div class="form-group checkbox-style">
                <input 
                  type="checkbox" 
                  id="setVotingTime" 
                  @change="setVotingTime()" 
                  name="setting">
                <label for="setVotingTime">
                  <span class="checkbox-style__fake"></span>
                  <span>Set voting time</span>
                </label>
    
                <div class="setting__time-config" v-if="formSetting.setVotingTime">
                  <p>Duration</p>
                  <div class="setting__day-hour">
                    <div class="form-group">
                      <input type="text" class="form-style" name="days" placeholder="Days">
                      <div class="setting__day-icon">
                        <svg>
                          <use xlink:href="./images/Icons/iconsList.svg#icon-calendar" />
                        </svg>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-style" placeholder="Hours" name="hours">
                      <div class="setting__day-icon">
                        <svg>
                          <use xlink:href="./images/Icons/iconsList.svg#icon-alarm" />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="setting__start-type">
                    <div class="form-group radio-style">
                      <input type="radio" id="manual" name="typeSetting">
                      <label for="manual">
                        <span class="radio-style__fake"></span>
                        <span>Manual start</span> 
                      </label>
                    </div>
                    <div class="form-group radio-style">
                      <input type="radio" id="auto" name="typeSetting">
                      <label for="auto">
                        <span class="radio-style__fake"></span>
                        <span>Auto start</span> 
                      </label>
                    </div>
                  </div>
    
                  <div class="d-flex align-items-center setting__day-hour">
                    <div class="form-group">
                      <input type="text" class="form-style" name="days" placeholder="Days">
                      <div class="setting__day-icon">
                        <svg>
                          <use xlink:href="./images/Icons/iconsList.svg#icon-calendar" />
                        </svg>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-style" placeholder="Hours" name="hours">                  
                      <div class="setting__day-icon">
                        <svg>
                          <use xlink:href="./images/Icons/iconsList.svg#icon-alarm" />
                        </svg>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="setting__form-right">
              <div class="form-group checkbox-style">
                <input 
                  type="checkbox" 
                  id="votingLimit" 
                  name="votingLimit"
                  v-on:change="formSetting.setVotingLimit = !formSetting.setVotingLimit">
                <label for="votingLimit">
                  <span class="checkbox-style__fake"></span>
                  <span>Set voting limit</span>
                </label>
                <div class="setting__optimize">
                  <p>Poll will close after </p>
                  <input type="number" value="0" :disabled="!formSetting.setVotingLimit"> 
                  <p>votes</p>
                </div>
              </div>
              <div class="form-group checkbox-style">
                <input type="checkbox" id="allowEditAnswers" name="allowEditAnswers">
                <label for="allowEditAnswers">
                  <span class="checkbox-style__fake"></span>
                  <span>Alow voter edit their answers</span>
                </label>
              </div>
              <div class="form-group checkbox-style">
                <input type="checkbox" id="participants" name="participants" checked disabled>
                <label for="participants">
                  <span class="checkbox-style__fake"></span>
                  <span>Participants</span>
                </label>
                <div class="setting__participant-type">
                  <div class="form-group radio-style">
                    <input 
                      type="radio" 
                      id="public" 
                      value="public"
                      name="participantSet"
                      v-model="formSetting.participantType">
                    <label for="public">
                      <span class="radio-style__fake"></span>
                      <span>Public</span> 
                    </label>
                  </div>
                  <div class="form-group radio-style">
                    <input 
                      type="radio" 
                      id="groupOfUsers" 
                      value="groupOfUsers"
                      name="participantSet"
                      v-model="formSetting.participantType">
                    <label for="groupOfUsers">
                      <span class="radio-style__fake"></span>
                      <span>Group of users</span> 
                    </label>
                  </div>
                  <div class="form-group radio-style">
                    <input 
                      type="radio" 
                      id="zingpollCom" 
                      value="zingpollCom"
                      name="participantSet"
                      v-model="formSetting.participantType">
                    <label for="zingpollCom">
                      <span class="radio-style__fake"></span>
                      <span>Zingpoll Community</span> 
                    </label>
                  </div>
                </div>
                <div class="setting__participant-adding mt-2" >
                  <a 
                    href="#" 
                    class="mb-2"
                    @click="formSetting.addingGroupPopup = true">Add new group</a>
                  <div class="form-group" v-if="addingUserSection">
                    <label for="addEmail">Add Emails</label>
                    <textarea name="addEmail" 
                              class="form-style form-style--textarea"
                              placeholder="separate by ',' Ex: test1@gmail.com, test2@gmail.com"></textarea>
                  </div>
                  <div class="form-group" v-if="addingUserSection">
                    <label for="addEmail">Add Domains</label>
                    <textarea name="addEmail" 
                              class="form-style form-style--textarea"
                              placeholder="separate by ',' Ex: axonactive.com, outlook.com"></textarea>
                  </div>
                </div>  
              </div>              
            </div>
          </div>
          <button 
            type="submit" 
            class="btn-style btn-style--standard">
            Submit
          </button>
        </form>
      </div>
    </div>

    <!-- ADDING GROUP POPUP HERE -->
    <div class="addingGroup" v-if="formSetting.addingGroupPopup">
      <div class="addingGroup__popup">
        <div class="heading-1">
          <h3>Adding group</h3>
          <p>Create a group of users for using next time</p>
        </div>
        <form action="#">
          <div class="form-group">
            <label for="name">Group name</label>
            <input type="text" class="form-style" placeholder="Group name">
          </div>
          <div class="form-group">
            <label for="name">Participant emails</label>
            <textarea 
              name="participantEmails"
              class="form-style form-style--textarea" 
              placeholder="separate by ',' Ex: test1@gmail.com, test2@gmail.com"></textarea>
          </div>
          <div class="d-flex">
            <button class="btn-style btn-mediumgGray mr-2"
                    @click="formSetting.addingGroupPopup = false">
              Cancel
            </button>
            <button class="btn-style btn-style--primary"
                    @click.prevent="addGroup()">
              Add group
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="./js/home.js"></script>
</body>
</html>