.btn-style {
  background-color: rgb(235, 235, 235);
  padding: .7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    @include tiny-shadow(.2);
    transform: translateY(-.4rem);
  }

  &--lightGray {
    background-color: #F3F3F3;
  }

  &--mediumGray {
    background-color: #DEDEDE;
  }

  &--standard {
    background-color: #F2C94C;
  }
}

%socialBtn {
  height: 3rem;
  width: 18rem;
  padding-left: 1.5rem;
  color: white;
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.btn-google {
  @extend %socialBtn;
  background-color: rgb(201, 65, 47);
}

.btn-fb {
  @extend %socialBtn;
  background-color: rgb(49, 129, 204);
}