.btn-style {
  background-color: rgb(235, 235, 235);
  padding: .7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    @include tiny-shadow(.2);
    transform: translateY(-.4rem);
  }

  @include responsive(550px) {
    padding: .6rem 1.2rem;
    font-size: .8rem;
  }

  &:focus {
    outline: none;
  }

  &--outline-white {
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
    border: 1px solid white;
  }

  &--lightGray {
    background-color: #F3F3F3;
  }

  &--mediumGray {
    background-color: #DEDEDE;
  }

  &--standard {
    background-color: #F2C94C;
  }
  
  &--primary {
    background-color: $color-primary;
    color: white;
  }

  &:disabled {
    background-color: rgb(226, 226, 226);
    color: rgb(167, 167, 167);
    transform: none !important;
    box-shadow: none;
    cursor: not-allowed;
  }
}

%socialBtn {
  height: 3rem;
  width: 18rem;
  padding-left: 1.5rem;
  color: white;
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  @include responsive(550px) {
    width: 100%;
  }
}

.btn-google {
  @extend %socialBtn;
  background-color: rgb(201, 65, 47);
}

.btn-fb {
  @extend %socialBtn;
  background-color: rgb(49, 129, 204);
}

.btn-close {  
  position: absolute;
  top: 1rem;
  right: 1rem;
  fill: white;
  height: 1rem;
  width: 1rem;
  cursor: pointer;

  &--primary {
    fill: $color-primary
  }
}