.heading-1 {
  & > h3, & > h2, & > h1 {
    font-size: 2rem;
    color: $color-primary;
    font-family: $font-title;
    @include responsive(990px) {
      font-size: 1.5rem;
    }
    
  }

  p {
    font-size: 1.1rem;
    @include responsive(990px) {
      font-size: .9rem;
    }
  }
  
  &--white {
    color: white;
    & > h3, & > h2, & > h1 {
      font-size: 2rem;
      font-family: $font-title;
      @include responsive(990px) {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.1rem;
      @include responsive(990px) {
        font-size: .9rem;
      }
    }
  }

}