


.about-content {
    padding: 4rem 0;
    @include responsive(550px) {
        padding: 2rem;
    }
    p {
        margin-right: 4rem;
        @include responsive(915px) {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
    &__imgs {
        img {
            position: relative;
        }
        img[alt=img1] {            
            z-index: 2000;
            @include responsive(615px) {
                width: 80%;
            }
        }
        img[alt=img2] {
            margin-top: -5rem;
            z-index: 1000;
            @include responsive(615px) {
                width: 60%;
                margin-top: -2rem;
            }
        }
    }
    .d-flex {
        @include responsive(915px) {
            flex-direction: column;
        }
    }
}