$padding-distance: 1.6rem;

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('../images/UI/abstraction1.png'), linear-gradient(
    to bottom right ,
    #56CCF2 42%,
    #198dcf
  );
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;

  &__attraction {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    img {
      height: 49rem;
    }
  }

  &__heading {
    padding: $padding-distance 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: .35);
    font-size: 1.2rem;
    font-family: $font-title;
    color: $color-text;
  }
  &__logo {
    img {
      height: 2.6rem;
    }
  }

  &__menu {
    display: flex;
    color: white;
    margin-bottom: 0;
    font-weight: 400;

    li {
      list-style: none;
      position: relative;

      a {
        &:link, &:visited {
          color: white;
          text-transform: capitalize;
          text-decoration: none ;
        }
      }
      
      &:not(:last-child) {
        margin-right: 3rem;
      }

      &::after {
        content: "";
        height: .5rem;
        width: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -$padding-distance - .75rem;
        transform: scaleX(0);
        transition: all .3s;
      }

      &:hover::after {
        transform: scaleX(1.1);
      }

      &.active::after{
        transform: scaleX(1.1);
      }
    }
  }

  &__auth-login {
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    color: white;
    outline: none;
  }

  &__sub-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
  }

  &__search {
    display: flex;
    button {
      background-color: rgba($color: #ffffff, $alpha: .78);
      border: 1px white solid;
      border-radius: 50%;
      height: 2.6rem;
      width: 2.6rem;
      margin-right: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
      }

      svg {
        height: 1.3rem;
        width: 1.3rem;
        fill: #444;
      }

      &:hover {
        svg {
          fill: white;
        }
      }
    }

    input {
      padding-left: 1.5rem;
      border: 1px solid white;
      border-radius: 500px;
      background-color: rgba($color: white, $alpha: .4);
      color: white;
      width: 24rem;
      outline: none;
      transition: all .2s;
      &::placeholder {
        color: white;
      }
      &:focus {
        background-color: rgba($color: #000000, $alpha: .6);
      }
    }
  }

  &__language {
    cursor: pointer;
    align-items: center;
    position: relative;
    h6 {
      color: white;
      font-family: $font-title;
      border-bottom: 2px solid white;
      margin-right: .7rem;
      margin-bottom: 0;
    }
    img {
      height: .7rem;
    }
  }  

  &__language-tip {
    position: absolute;
    bottom: -7rem;
    right: 0;
    background-color: #fff;
    border-radius: .3rem;
    padding: .3rem 1.2rem;
    @include small-shadow(.2);
    img {
      margin-right: .25rem;
    }
    span {
      margin-left: .25rem;
      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }

  &__content {
    color: white;
    text-align: center;
    margin-top: 12%;
    font-family: $font-title;
  }

  &__title {
    margin-bottom: 2.3rem;
  }
  &__CTA {
    &:link, &:visited {
      font-family: $font-title;
      padding: .8rem 2rem;
      border: none;
      border-radius: 200rem;
      text-transform: uppercase;
      color: $color-primary;
      cursor: pointer;
      transition: all .3s;
      background-color: #fff;
      text-decoration: none;
      display: inline-block
    }   
    
    &:hover {
      @include small-shadow(.28);
      transform: translateY(-.7rem);
    }
  }

  &__steps {
    display: flex;
    padding: 2.1rem;
    background-color: rgba($color: #ffffff, $alpha: .6);
    .container {
      display: flex;
      justify-content: space-between;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__step{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  &__step-number {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 6rem;
    width: 6rem;
    // border: 4.3px solid $color-primary; this property is manipulate by vuejs
    border-radius: 50%;
    margin-right: 1.1rem;
  }
  &__step-desc{
    margin-bottom: 0;
  }
}

$sw-height: 2.8rem;
.crePoll {
  padding: 5rem 0;

  &__form {
    margin-top: 2.5rem;
  }

  &__switch {
    height: $sw-height;
    width: 15rem;
    background-color: #EAEAEA;
    border-radius: 400rem;
    div {
      height: 100%;
      width: 7.5rem;
      background-color: $color-third;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 200rem;
      cursor: pointer;
      transition: all .2s;
      @include tiny-shadow(.3);

      &:hover {
        transform: translateY(-.1rem);
      }

      &.switched {
        transform: translateX(7.5rem);
      }
    }
  } 

  &__control {
    display: flex;
    position: absolute;
    right: 2rem;
    top:50%;
    transform: translateY(-50%);

    svg {
      height: 1.8rem;
      width: 1.8rem;
      cursor: pointer;
      &:hover {
        fill: $color-third;
      }
    }
    &--picture {
      fill: #666;
      margin-right: 1rem;
    }

    &--trash {
      fill: #666;
    }
  }

  &__setup {
    display: flex;
    justify-content: space-between;
  }

  &__config {
    display: flex;
    align-items: center;
    svg {
      margin-right: 1rem;
      height: 1.7rem;
      width: 1.7rem;
      fill: rgb(6, 50, 75);
    }
    p{
      border-bottom: 1px solid #444;
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  &__button-group {
    display: flex;

    svg {
      fill: #444;
      height: 1.1rem;
      width: 1.1rem;
      margin-right: .6rem;
    }

    button {
      &:not(:last-child) {
        margin-right: 1.7rem;
      }
    }
  }
}