$padding-distance: 1.6rem;

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('../images/UI/abstraction1.png'), linear-gradient(
    to bottom right ,
    #56CCF2 42%,
    #198dcf
  );
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;

  &__attraction {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    img {
      height: 49rem;
    }
  }

  &__heading {
    padding: $padding-distance 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: .35);
    font-size: 1.2rem;
    font-family: $font-title;
    color: $color-text;
  }
  &__logo {
    img {
      height: 2.6rem;
    }
  }

  &__menu {
    display: flex;
    color: white;
    margin-bottom: 0;
    font-weight: 400;

    @include responsive(650px) {
      display: none;
    }

    li {
      list-style: none;
      position: relative;

      a {
        &:link, &:visited {
          color: white;
          text-transform: capitalize;
          text-decoration: none ;
          @include responsive(880px) {
            font-size: 1rem;
          }
        }
      }
      
      &:not(:last-child) {
        margin-right: 3rem;
        @include responsive(880px) {
          margin-right: 2rem;
        }
      }

      &::after {
        content: "";
        height: .5rem;
        width: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -$padding-distance - .75rem;
        transform: scaleX(0);
        transition: all .3s;
      }

      &:hover::after {
        transform: scaleX(1.1);
      }

      &.active::after{
        transform: scaleX(1.1);
      }
    }
  }

  &__auth {
    @include responsive(880px) {
      font-size: 1rem;
    }
    @include responsive(650px) {
      display: none;
    }
  }

  &__responsive {
    display: none;
    @include responsive(650px) {
      display: block;
      cursor: pointer;
    }
    svg {
      fill: white;
      height: 2rem;
      width: 2rem;
    }
  }

  &__auth-signin {
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    color: white;
    outline: none;
  }

  &__sub-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    @include responsive(708px) {      
      flex-direction: column;
    }
    @include responsive(650px) {      
      margin-top: 1rem;
    }
  }

  &__search {
    display: flex;
    @include responsive(708px) {      
      margin-bottom: 1rem;
    }
    button {
      background-color: rgba($color: #ffffff, $alpha: .78);
      border: 1px white solid;
      border-radius: 50%;
      height: 2.6rem;
      width: 2.6rem;
      margin-right: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;

      @include responsive(650px) {      
        height: 2.2rem;
        width: 2.2rem;
      }

      &:hover {
        background-color: $color-primary;
      }

      svg {
        height: 1.3rem;
        width: 1.3rem;
        fill: #444;
        @include responsive(708px) {      
          height: 1rem;
          width: 1rem;
        }
      }

      &:hover {
        svg {
          fill: white;
        }
      }
    }

    input {
      padding-left: 1.5rem;
      border: 1px solid white;
      border-radius: 500px;
      background-color: rgba($color: white, $alpha: .4);
      color: white;
      width: 24rem;
      outline: none;
      transition: all .2s;
      @include responsive(550px) {
        width: auto;
      }
      &::placeholder {
        color: white;
      }
      &:focus {
        background-color: rgba($color: #000000, $alpha: .6);
      }
    }
  }

  &__language {
    cursor: pointer;
    align-items: center;
    position: relative;
    h6 {
      color: white;
      font-family: $font-title;
      border-bottom: 2px solid white;
      margin-right: .7rem;
      margin-bottom: 0;
    }
    img {
      height: .7rem;
    }
  }  

  &__language-tip {
    position: absolute;
    bottom: -7rem;
    right: 0;
    background-color: #fff;
    border-radius: .3rem;
    padding: .3rem 1.2rem;
    @include small-shadow(.2);
    img {
      margin-right: .25rem;
    }
    span {
      margin-left: .25rem;
      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }

  &__content {
    color: white;
    text-align: center;
    margin-top: 12%;
    font-family: $font-title;
    @include responsive(1040px) {
      margin-top: 18%;
    }
    @include responsive(708px) {      
      margin-top: 24%;
    }
    @include responsive(645px) {      
      margin-top: 36%;
    }
  }

  &__title {
    margin-bottom: 2.3rem;
    @include responsive(1040px) {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
    }
    @include responsive(708px) {      
      font-size: 1.6rem;
    }
    @include responsive(550px) {
      font-size: 1.4rem;
    }
  }
  &__CTA {
    &:link, &:visited {
      font-family: $font-title;
      padding: .8rem 2rem;
      border: none;
      border-radius: 200rem;
      text-transform: uppercase;
      color: $color-primary;
      cursor: pointer;
      transition: all .3s;
      background-color: #fff;
      text-decoration: none;
      display: inline-block
    }   
    
    &:hover {
      @include small-shadow(.28);
      transform: translateY(-.7rem);
    }
  }

  &__steps {
    @include responsive(645px) {      
      display: none;
    }
    display: flex;
    padding: 2.1rem;
    background-color: rgba($color: #ffffff, $alpha: .6);
    .container {
      display: flex;
      justify-content: space-between;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .container {        
      @include responsive(708px) {      
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }

  &__step{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    @include responsive(1120px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    @include responsive(708px) {      
      margin-bottom: 1rem;
      margin-right: 1.5rem;
    }
  }
  &__step-number {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 6rem;
    width: 6rem;
    // border: 4.3px solid $color-primary; this property is manipulate by vuejs
    border-radius: 50%;
    margin-right: 1.1rem;
    @include responsive(1120px) {
      margin-right: 0;
    }
    
    @include responsive(708px) {      
      margin-right: .5rem;
    }
  }
  &__step-desc{
    margin-bottom: 0;
  }
}

$sw-height: 2.8rem;
@include responsive(550px) {
  $sw-height: 2.4rem;
}
.crePoll {
  padding: 5rem 0;
  @include responsive(550px) {
    padding: 3.5rem 0;
  }

  &__form {
    margin-top: 2.5rem;
  }

  &__switch {
    height: $sw-height;
    width: 15rem;
    background-color: #EAEAEA;
    border-radius: 400rem;
    @include responsive(550px) {
      width: 13rem;
    }
    div {
      height: 100%;
      width: 7.5rem;
      background-color: $color-third;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 200rem;
      cursor: pointer;
      transition: all .2s;
      @include tiny-shadow(.3);
      @include responsive(550px) {
        width: 6.5rem;
      }

      &:hover {
        transform: translateY(-.1rem);
      }

      &.switched {
        transform: translateX(7.5rem);
      }
    }
  } 

  &__control {
    display: flex;
    position: absolute;
    right: 2rem;
    top:50%;
    transform: translateY(-50%);

    svg {
      height: 1.8rem;
      width: 1.8rem;
      cursor: pointer;
      &:hover {
        fill: $color-third;
      }
      @include responsive(550px) {
        height: 1.3rem;
        width: 1.3rem;
      }
    }
    &--picture {
      fill: #666;
      margin-right: 1rem;
    }

    &--trash {
      fill: #666;
    }
  }

  &__setup {
    display: flex;
    justify-content: space-between;
    @include responsive(550px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__config {
    display: flex;
    align-items: center;
    @include responsive(550px) {
      margin-bottom: 1.5rem;
    }
    svg {
      margin-right: 1rem;
      height: 1.7rem;
      width: 1.7rem;
      fill: rgb(6, 50, 75);
      transition: all .4s;
      @include responsive(550px) {
        margin-right: 0.7rem;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    p{
      border-bottom: 1px solid #444;
      margin-bottom: 0;
      cursor: pointer;
    }

    &:hover svg{
      transform: rotate(120deg) scale(1.3);
    }
  }

  &__button-group {
    display: flex;

    svg {
      fill: #444;
      height: 1.1rem;
      width: 1.1rem;
      margin-right: .6rem;
    }

    button {
      &:not(:last-child) {
        margin-right: 1.7rem;
        @include responsive(550px) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.features {
  width: 100%;
  height: 1100px;
  background-image: url(../images/UI/feature-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.5rem 0;
  @include responsive(1040px) {
    height: auto;
    padding: 4rem 0;
    padding-bottom: 7.5rem;
  }

  .heading-1--white {
    text-align: center;
    margin-bottom: 3.8rem;
    @include responsive(1040px) {
      margin-bottom: 2rem;
    }
  }
  @include responsive(550px) {
    height: auto;
    padding: 7.5rem 0;
    padding-bottom: 8.5rem;
    margin-top: -3rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(3, 19rem);
    grid-template-rows: repeat(2, 19rem);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    justify-content: center;
    align-content: center;
    
    @include responsive(1040px) {
      grid-template-columns: repeat(2, 17rem);
      grid-template-rows: repeat(2, 17rem);
    }
    @include responsive(708px) {      
      grid-template-columns: repeat(2, 16rem);
      grid-template-rows: repeat(2, 16rem);
      grid-gap: 2rem;
    }
    @include responsive(550px) {      
      grid-template-columns: repeat(1, 16rem);
      grid-template-rows: auto;
      grid-gap: 1rem;
    }
  }

  &__each {
    background-color: #fff;
    padding: 2.5rem;
    margin-bottom: 0;
    border-radius: 1rem;
    text-align: center;
    transition: all .3s;

    &:hover {
      @include small-shadow(.25);
      transform: translateY(-.7rem);
    }

    img {
      height: 5rem;
      margin-bottom: 1.4rem;
      @include responsive(708px) {      
        margin-bottom: .12rem;
      }
      
    }
    h5{
      margin-bottom: 0.5rem;
      color: $color-primary;
      font-family: $font-title;
      font-weight: 500;
    }
  }
}

.tutorial {
  padding: 3.5rem 0;
  text-align: center;
  @include responsive(1040px) {
    padding-top: 0;
  }

  &__video {
    margin-top: 2rem;

    @include responsive(1040px) {
      iframe{
        width: 100%;
      }
    }
    
  }
}

%footerLayout {
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: #6D6D6D;
  padding: 3.5rem 0;
  position: relative;

  &::after {
    content: "";
    height: .6rem;
    width: 100%;
    background-image: linear-gradient(
      90deg,
      $color-primary,
      $color-secondary
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  &__top {
    @extend %footerLayout;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px rgba($color: #fff, $alpha: .3);
    @include responsive(990px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__bottom {
    @extend %footerLayout;
    color: white;
    margin-top: 1.5rem;
    @include responsive(793px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    margin-right: 6rem;
    @include responsive(990px) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 6rem;
      @include responsive(990px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
  &__info {
    display: flex;
    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-primary;
      margin-right: 0.5rem;
    }
    p {
      color: white;
      width: 16rem;
    }
  }
}